/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.dev.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
oocv
jobfolder
download
.history
nbproject/private/config.properties
nbproject/private/private.properties
nbproject/private/private.xml
/nbproject/private/
.vscode/*
test/
database/database.sqlite
storage/logs
docker-compose.dev.yml
renovate.sh